<h1>New Company</h1>

<%= javascript_include_tag "companies.js" %> 

<script type="text/javascript">
  var companies = <%= @companies.html_safe %>;
  addCompanies(companies);
</script>


<%= render 'form' %>

<%= link_to 'Back', companies_path %>