<h1>New Company</h1>

<%= javascript_include_tag "companies.js" %> 

<%= render 'form' %>

<%= link_to 'Back', companies_path %>

<script type="text/javascript">
  window.onload = function(event){
	  var companies = <%= @companies.html_safe %>;
	  addCompanies(companies, false);
	};
</script>