<div class="section no-pad-bot banner">
      <br>
      <h1 class="header center white-text">Applications done easy.</h1>
      <div class="row center">
        <h5 class="header col s12 white-text">Making your job search easy to manage. One glass at a time.</h5>
      </div>
      <div class="row center"><br/>
        <a href="/boards/" id="download-button" class="btn-large waves-effect waves-light pink darken-4">Get Started</a>
      </div>
  </div>
  <div class="container">
    <div class="section">


      <!--   Icon Section   -->
      <div class="row center">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center sangria-accent-text"><i class="material-icons large">dashboard</i></h2>
            <p class="light">Move your current applications throughout multiple stages of the job search process with our easy drag-and-drop boards.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center sangria-accent-text"><i class="material-icons large">mail_outline</i></h2>
            <p class="light">Never miss another follow-up email or interview time with our seamless email notifications. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center sangria-accent-text"><i class="material-icons large">contacts</i></h2>
            <p class="light">Effortlessly store and search through all of your contacts for each of your applications.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>


  </div>

  <footer class="page-footer cyan lighten-2">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6 offset-l1">
          <h5 class="white-text">Sangria Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col s12 m6 l3 offset-l2">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="mailto:juliacochran7@gmail.com">Julia</a></li>
            <li><a class="white-text" href="mailto:watarueun0@gmail.com">Wataru</a></li>
            <li><a class="white-text" href="mailto:hillary.degenkolb@gmail.com">Hillary</a></li>
            <li><a class="white-text" href="mailto:bradley.oesch@gmail.com">Bradley</a></li>
            <li><a class="white-text" href="mailto:ytadavarthi@gmail.com">Shez</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       <div class="row"><div class="col s12 l11 offset-l1">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
      </div>
      </div>
    </div>
  </footer>
