<%= form_for(Board.new) do |f| %>
  <div class="modal-content">
    <h4>Create New Board</h4>
    <div class="row">
      <div class="col s12">
        <div class="input-field"
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer actions">
    <%= f.submit :class => "modal-action modal-close btn-flat" %>
  </div>
<% end %>
