<p id="notice"><%= notice %></p>
<div class="content container">
  <div class="row">
    <div class="col s12">
      <a href="#board-new-modal" class="board-new-modal-trigger">
      <div class="card">
        <div class="card-content center" style="font-size:1.4rem">
         Create A New Board
        </div>
      </div>
      </a>
    </div>

    <% @boards.each do |board| %>
    <div class="col s12 m6 l4">
      <a href="<%= board_path(board)%>">
        <div class="card">
          <div class="card-content cyan-text">
            <span style="font-size:1.4rem"><%= board.title %></span>
            <a href="<%= board_path(board) %>" data-confirm="Are you sure?" data-method="delete" ><i class="material-icons right">delete</i></a>
          </div>
        </div>
      </a>
    </div>
    <% end %>

  </div>
</div>

<div id="board-new-modal" class="modal modal-fixed-footer"></div>

