@import 'materialize';

/*
    *= require_self
    *= require_tree .
*/


html{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

body {
    background: transparent;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: color("cyan", "lighten-2");
}

#application-new-modal { 
    width: 80%;
}

#interaction-new-modal { 
    width: 80%; 
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid color("cyan", "lighten-2");
    box-shadow: 0 1px 0 0 color("cyan", "lighten-2");
}

#board-change-modal .card-panel.selected {
    color: #ffffff;
    background-color: color("cyan", "lighten-2");
}

.block{
    display: block;
}

.modal-title-logo {
    max-height: 100px;
    max-width: 100px;
}

.side-nav-trigger {
    position: absolute;
    top: 230px;
    right: -18px;
    padding: 0.5rem 1rem;
    color: white;
    background-color: color("cyan", "lighten-2");
    border-radius: 15px 15px 0 0;
    font-weight: bold;
    @extend .z-depth-1;
    @include rotate(-90deg);
}

.note-title {
    margin-bottom: -1rem;
}

.note-title a {
    display: inline;
}

.sangria-accent {
    @extend .cyan.lighten-2;
}
.sangria-accent-text {
    @extend .cyan-text.text-lighten-2;
}

.sangria-faded {
    @extend .grey;
}
.sangria-faded-text {
    @extend .grey-text;
}

.strong {
    font-weight: bold;
}

.transparent{
    opacity: 0.5;
}

.clear-left {
    clear: left;
}

h1.title, h2.title, h3.title,
h4.title, h5.title, h6.title {
    margin-top: 0;
}

textarea.materialize-textarea {
    padding: 0;
}

.banner{
    background-color: #4DD0E1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    height: 25em;
    background-position: 50% 100%;
}

.application-logo {
    max-width:100px;
    max-height:100px;
    background-color: #ffffff;
    padding: 0.1em;
}

.title-board {

    & .title-icons {
        position: absolute;
        right: 0.75rem;
        margin-top: 1.7rem;
    }

    & #board_title {
        border-bottom: 1px solid #ffffff;

        &:focus {
            border-bottom: 1px solid color("cyan", "lighten-2");
        }
    }
}


.input-field label {
    left: 0;
}


.nav-wrapper{
    margin-left: 20px;
}

.application-interaction-card {
    display: inline-block;
    height: 11rem;
    width: 19rem;
    margin: 0 0.5rem 0.5rem 0;
    padding: .5rem;
    border: 2px solid color("cyan", "lighten-2");
    border-radius: 3px;
    position: relative;
    vertical-align: top;

    & .left-side {
        display: inline-block;
        width: 13rem;
    }
    & .right-side {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &.empty {
        height: 11rem;
        width: 11rem;
        border: 2px dashed color("cyan", "lighten-2");
        padding: 0;
        position: relative;

        & > div {
            display: block;
            height: 50%;
            width: 50%;
            overflow: auto;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        & i.material-icons {
            font-size: 5rem;
            font-weight: bold;
        }
    }
}


.note-card {
    border-radius: 3px;
    position: relative;

    &.empty {
        height: 205px;
        width: 205px;
        border: 5px dashed white;
        padding: 0;
        position: relative;

        & > div {
            display: block;
            height: 50%;
            width: 50%;
            overflow: none;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        & i.material-icons {
            font-size: 7rem;
            font-weight: bold;
            color: white;
        }
    }
}

.note-actions {
    padding: .5rem 0;

    a {
        display: inline-block;
        font-size: 24px;
        height: 2rem;
        line-height: 2rem;
        padding: 0;
    }
}

.ui-state-highlight {
    min-height: 300px ;
    line-height: 1.2em;
}
