<html>
	<head>
	 	<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
 		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
  <body>
  <div class="container teal lighten-2 center">
  	<!-- header image -->
  	<img src="http://cdn.chuckanddons.com/wp-content/uploads/2011/04/sub_banner_cat.jpg" alt="sangria banner">
    <%= yield %>
   </div>
  </body>
  
</html>
